<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="card mt-5 mb-4 col-6">
    <div class="card-header">
      Sign Up
    </div>
    <div class="card-body">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control mb-3", placeholder:"Email:" %>
      <%= f.password_field :password, autocomplete: "current-password", class:"form-control mb-3", placeholder:"Password must be at least #{@minimum_password_length} characters long" %>
      <%= f.password_field :password_confirmation, autocomplete: "current-password", class:"form-control mb-3", placeholder:"Confirm Password" %>
      <%= f.file_field :avatar, class:"form-control mb-4"%>
    </div>
    
    <div class="card-footer text-muted">
      <%= f.submit "Sign Up", class:"btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
