<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="card mt-5 mb-4 col-6">
    <div class="card-header">
      Sign In
    </div>
    <div class="card-body">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control mb-3", placeholder:"Email:" %>
      <%= f.password_field :password, autocomplete: "current-password", class:"form-control mb-3", placeholder:"Password" %>
      <% if devise_mapping.rememberable? %>
        <div class="form-check">
          <%= f.check_box :remember_me, class:"form-check-input" %>
          <%= f.label :remember_me, class:"form-check-label" %>
        </div>
      <% end %>
    </div>
    
    <div class="card-footer text-muted">
      <%= f.submit "Log in", class:"btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
