<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-6">
      <div class="mb-3 pt-4">
        <%= form.text_field :title, class:"form-control", placeholder:"Request Title" %>
      </div>
      <div class="mb-3">
        <%= form.select(:category, [['Request Category', nil], 'Activities', 'Crafts', 'Drinks', 'Feelings', 'Food', 'People', 'Places'], {}, { :class => 'form-select' }) %>
      </div>
      <div class="mb-3">
        <%= form.select(:location, [['Request Location', nil], 'ABA', 'Home'], {}, { :class => 'form-select' }) %>
      </div>
    </div>
    <div class="col-6">
      <div class="field form-group mb-3">
        <label class="form-label">Request Photo</label>
        <%= form.file_field :image, class:"form-control mb-4"%>
      </div>
      <hr class="border border-primary border-3 opacity-75">

      <div class="field form-group mb-3">
        <%= form.label "Request Sound" %>
        <%= form.file_field :sound, class:"form-control mb-4"%>
      </div>
    </div>
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
