<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card mt-5">
    <div class="card-header">
      New Request
    </div>
    <div class="card-body">
      <div class="row">
        <div class="mb-3 col-6">
          <%= form.text_field :title, class:"form-control", placeholder:"Request Title" %>
        </div>
        <div class="mb-3 col-6">
          <% options = Category.where(user_id: current_user.id).map{|c| [c.category, c.id]} %>
          <% options.unshift(['Request Category', nil])%>
          <%= form.select(:category_id, options, {}, { :class => 'form-select' }) %>
        </div>
      </div>
      <div class="field form-group mb-3">
        <label class="form-label">Request Photo</label>
        <%= form.file_field :image, class:"form-control mb-4"%>
      </div>
    </div>
    
    <div class="card-footer text-muted">
      <%= form.submit class:"btn btn-primary" %>
    </div>
  </div>
<% end %>
