<nav class="navbar ps-4 pe-4" style="background-color:#a74ef5;">
    <% if user_signed_in? %>
        <ul class="navbar-nav me-auto mb-2">    
            <li class="nav-item">
                <% if current_user.avatar.attached?%>
                    <%= link_to(image_tag(current_user.avatar, class:"avatar"),root_path) %>
                <% else %>
                    <%= link_to(image_tag('default-avatar.jpg', class:"avatar"),root_path) %>
                <% end %>
            </li> 
        </ul>

        <% if !@categoriez.nil? %>
            <% @categoriez.each do |category| %>
                <ul class="navbar-nav me-auto mb-2">   

                    <li class="nav-item">
                        <div class="card">
                            <%= image_tag(category.image, class:"category-pic") %>
                            <%= link_to(category.category, posts_path(:cate => category.id), onclick:"playSound(event)", data:{audio: "#{category.category}"}, class:"btn btn-primary") %>
                            <%= audio_tag(polymorphic_path(category.sound), id: "#{category.category}") %>                       
                        </div>

                    </li> 
                </ul>
            <% end %>
        <% end %>
    <% else %>
        <ul class="navbar-nav me-auto mb-2 ps-5">
            <li class="nav-item">
                <%= link_to "Sign in", new_user_session_path, class:"nav-link" %>
            </li>
        </ul>
    <% end %>
</nav>