<nav class="navbar" style="background-color:#a74ef5;">
    <div class="container ">
        <% if user_signed_in? %>

            <ul class="navbar-nav me-auto mb-2">    
                <li class="nav-item">
                    <%= link_to image_tag('Sophia.png', :class =>"sophia nav-link" ), root_path %>
                </li> 
            </ul>
            
            <ul class="navbar-nav me-auto mb-2">    
                <li class="nav-item">
                    <%= link_to "Activities", activities_path, style:"color: #ffffff;", class:"nav-link" %>
                </li> 
            </ul>
            <ul class="navbar-nav me-auto mb-2">    
                <li class="nav-item">
                    <%= link_to "Crafts", crafts_path, style:"color: #ffffff;", class:"nav-link" %>
                </li> 
            </ul>
            <ul class="navbar-nav me-auto mb-2">    
                <li class="nav-item">
                    <%= link_to "Drinks", drinks_path, style:"color: #ffffff;", class:"nav-link" %>
                </li> 
            </ul>
            <ul class="navbar-nav me-auto mb-2">    
                <li class="nav-item">
                    <%= link_to "Feelings", feelings_path, style:"color: #ffffff;", class:"nav-link" %>
                </li> 
            </ul>
            <ul class="navbar-nav me-auto mb-2">    
                <li class="nav-item">
                    <%= link_to "Food", food_path, style:"color: #ffffff;", class:"nav-link" %>
                </li> 
            </ul>
            <ul class="navbar-nav me-auto mb-2">    
                <li class="nav-item">
                    <%= link_to "People", people_path, style:"color: #ffffff;", class:"nav-link" %>
                </li> 
            </ul>
            <ul class="navbar-nav me-auto mb-2">    
                <li class="nav-item">
                    <%= link_to "Places", places_path, style:"color: #ffffff;", class:"nav-link" %>
                </li> 
            </ul>

            <ul class="navbar-nav justify-content-end me-auto mb-2">    
                <li class="nav-item">
                    <%= link_to "Log out", destroy_user_session_path, style:"color: black;", class:"nav-link" %>
                </li>          
            </ul>

            

        <% else %>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <%= link_to "Sign in", new_user_session_path, class:"nav-link" %>
                </li>
            </ul>
        <% end %>
    </div>
</nav>

<script>
    $(function(){
        var current = location.pathname;
        $('.navbar-nav li a').each(function(){
            var $this = $(this);
            // if the current path is like this link, make it active
            if($this.attr('href').indexOf(current) !== -1){
                $this.addClass('active');
            }
        })
    })
</script>