<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'ABA')">ABA</button>
  <button class="tablinks" onclick="openCity(event, 'Home')">Home</button>
</div>

<div id="ABA" class="tabcontent">
  <div class="container">
    <div class="row row-cols-4">
        <% @postsCraftsAba.each do |post|%>
            <div class="col mb-3">
                <% title = post.title %>
                <div class="col">
                    <%= audio_tag(polymorphic_path(post.sound), class: "audio-play", id: "#{title}") %>
                    <a class="p-1 audioButton" onclick=<%= "play(\"#{title}\")"%> > <%= image_tag(post.image, class:"request-pic") %> </a>
                </div>
            </div>
        <% end %>
    </div>
  </div>
</div>

<div id="Home" class="tabcontent">
  <div class="container">
    <div class="row row-cols-4">
        <% @postsCraftsHome.each do |post|%>
            <% title = post.title %>
            <div class="col mb-3">
                <%= audio_tag(polymorphic_path(post.sound), class: "audio-play", id: "#{title}") %>
                <a class="p-1 audioButton" onclick=<%= "play(\"#{title}\")"%> > <%= image_tag(post.image, class:"request-pic") %> </a>
            </div>
        <% end %>
    </div>
  </div>
</div>

<script>
    function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
    }

    function play(element){
        var audio = document.getElementById(element);
        audio.currentTime = 0;
        audio.play();
    }
</script>