<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'ABA')">ABA</button>
  <button class="tablinks" onclick="openCity(event, 'Home')">Home</button>
</div>

<div id="ABA" class="tabcontent">
    <div class="container">
        <div class="row text-center mb-2">
            <div class="col justify-content-center">
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
            </div>    
        </div>
        <div class="row text-center mb-2">
            <div class="col justify-content-center">
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
            </div>    
        </div>
        <div class="row text-center mb-2">
            <div class="col justify-content-center">
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
            </div>    
        </div>
        <div class="row text-center mb-2">
            <div class="col justify-content-center">
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
            </div>    
        </div>
    </div>
</div>

<div id="Home" class="tabcontent">
    <div class="container">
        <div class="row text-center mb-2">
            <div class="col justify-content-center">
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
            </div>    
        </div>
        <div class="row text-center mb-2">
            <div class="col justify-content-center">
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
            </div>    
        </div>
        <div class="row text-center mb-2">
            <div class="col justify-content-center">
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
            </div>    
        </div>
        <div class="row text-center mb-2">
            <div class="col justify-content-center">
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
                <%= audio_tag("food/audio.m4a", class: "audio-play") %>
                <a class="p-1 audioButton"> <%= image_tag('food/grapes.png', class:"request-pic") %> </a>
            </div>    
        </div>
    </div>
</div>

<script>
    function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
    }
    $(".audioButton").on("click", function() {
        $(".audio-play")[0].currentTime = 0;
        return $(".audio-play")[0].play();
    });
</script>