<div class="card" id="<%= dom_id category %>">
  <div class="card-header">
    <p>
      <strong>Category:</strong>
      <%= category.category %>
    </p>
  </div>
  <div class="card-body">
    <%= audio_tag(polymorphic_path(category.sound), class: "audio-play", id: "#{category.category}") %>
    <a class="p-1 audioButton" onclick=<%= "play(\"#{category.category}\")"%> > <%= image_tag(category.image, class:"request-pic") %> </a>
  </div>
</div>
